src/test/resources/user_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user" type="userType"/>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="email"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="username"/>
      <xs:element type="xs:string" name="alias"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>